/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #f4efeb;
}
.menu {
  font-family: "Barriecito", system-ui;
  font-size: 30px;
  color: #04389e;
}

/* --fonts- */

h1 {
  font-family: "Barriecito", system-ui;
  font-size: 50px;
  color: #04389e;
}

.n1 {
  font-family: "Barriecito", system-ui;
  font-size: 20px;
  color: #04389e;
}

.n2 {
  font-family: "Barriecito", system-ui;
  font-size: 40px;
  color: #04389e;
}
.n3 {
  font-family: "Barriecito", system-ui;
  font-size: 60px;
  color: #04389e;
}
.n4 {
  font-family: "Barriecito", system-ui;
  font-size: 60px;
  color: #04389e;
}
.n5 {
  font-family: "Barriecito", system-ui;
  font-size: 80px;
  color: #04389e;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;

  color: #04389e;
}

.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.frontimage {
  padding: 1em;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr auto;
}

/*--------------- grids --------------*/

.h1_section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: auto auto;
  gap: 3rem 4rem;
  align-items: center;
  padding: 4rem;
}

/* Venstre kolonne */
.h1container {
  grid-column: 1;
  grid-row: 1;
}

.container {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  gap: 2rem;
  align-items: baseline;
}

/* Højre kolonne */
.frontimage {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Desktop */
@media (max-width: 1024px) {
  .content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobil */
@media (max-width: 400px) {
  .header {
    padding: 1.5rem;
  }

  .content {
    padding: 2rem 1.5rem;
  }

  .text .chapter {
    font-size: 3rem;
  }

  .images {
    grid-template-columns: 1fr;
  }

  .img {
    aspect-ratio: 16 / 9;
  }
}

/* Animation på h1
.pop-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  animation: popUp 0.8s ease-out forwards;
}

.pop-title span:nth-child(1) {
  animation-delay: 0.1s;
}

.pop-title span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes popUp {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
} */
