/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #f4efeb;
}
.menu {
  font-family: "Barriecito", system-ui;
  font-size: 30px;
  color: #04389e;
}

.herocontainer .menu {
  font-family: "Barriecito", system-ui;
  font-size: 30px;
  color: #04389e;
}

/* --fonts- */

h1 {
  font-family: "Barriecito", system-ui;
  font-size: 50px;
  color: #04389e;
}

.n1 a {
  font-family: "Barriecito", system-ui;
  font-size: 20px;
  color: #04389e;
}

.n2 a {
  font-family: "Barriecito", system-ui;
  font-size: 40px;
  color: #04389e;
}
.n3 a {
  font-family: "Barriecito", system-ui;
  font-size: 60px;
  color: #04389e;
}
.n4 a {
  font-family: "Barriecito", system-ui;
  font-size: 60px;
  color: #04389e;
}
.n5 a {
  font-family: "Barriecito", system-ui;
  font-size: 80px;
  color: #04389e;
}

.n1 a:hover,
.n2 a:hover,
.n3 a:hover,
.n4 a:hover,
.n5 a:hover {
  color: #9d6d52;
}
a {
  text-decoration: none;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;

  color: #04389e;
}

.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.frontimage {
  padding: 1em;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.footersize {
  max-width: 1500px; /* vælg den størrelse der passer */
  margin: 0 auto; /* centrer */
  align-items: center;
  padding-top: 10px;
}

.namesvg {
  max-width: 200px; /* vælg den størrelse der passer */
  margin: 0 auto; /* centrer */
  padding-bottom: 10px;
}

/* -------------- Burgermenu ----------- */
.burger-menu {
  position: absolute;
  top: 80px;
  right: 1rem;
  background: #f4efeb;
  padding: 1rem;
  border-radius: 12px;
  /* Tilføjet korrekt box-shadow */
  box-shadow: 0px 4px 10px #9d6d52;
  display: none;
}

.burger-menu.open {
  display: block;
}

.burger-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.burger-menu li {
  margin-bottom: 0.5rem;
}

.burger-menu a {
  text-decoration: none;
  font-family: "Barriecito", system-ui;
  color: #04389e;
}

.burger-menu a:hover {
  color: #9d6d52;
}

/*--------------- grids --------------*/

.h1_section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: auto auto;
  gap: 3rem 4rem;
  align-items: center;
  padding: 4rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

/* Venstre kolonne */
.h1container {
  grid-column: 1;
  grid-row: 1;
}

.herocontainer {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  gap: 4rem;
  align-items: baseline;
  padding-bottom: 50px;
}

/* Højre kolonne */
.frontimage {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 90%;
  height: auto;
  object-fit: cover;
}

/* Mobil */
@media (max-width: 600px) {
  .h1_section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 2rem;
  }

  .h1container {
    grid-column: 1;
    grid-row: 1;
  }

  .container {
    grid-column: 1;
    grid-row: 2;
    gap: 2rem;
  }

  .frontimage {
    grid-column: 1;
    grid-row: 3;
    padding: 1rem 0;
  }
}

/* Animation på h1
.pop-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  animation: popUp 0.8s ease-out forwards;
}

.pop-title span:nth-child(1) {
  animation-delay: 0.1s;
}

.pop-title span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes popUp {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
} */
/* Desktop */
@media (max-width: 1024px) {
  .content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}
